<html>
<head>
<link href="views/footer.css" rel="stylesheet" type="text/css">
<link href="views/bootstrap.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

<div id="footer">
	<div class="sectionTop">
		<div class="row">
			<div class="col-md-6 col-xs-6 ">			
				<div class="logo1">
				<img src="../images/logo.png">
				</div>
				</div>
			<div class="col-md-6 col-xs-6 socialIcons">
				<ul>
					<li>
						<a id="link"href="https://www.facebook.com/zapplon1/"><i class="fa fa-facebook-official" style="font-size:24px"></i></a>
					</li>
					<li>
						<a id="link" href="https://www.instagram.com/zapplon/"><i class="fa fa-instagram" style="font-size:24px"></i></a>
					</li>
					<li>
						<a id="link" href="https://twitter.com/zapplon1"><i class="fa fa-twitter" style="font-size:24px"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	</div>
	<div class="sectionMenu">
		<div class="row">
			<div class="col-md-8 col-xs-8">
				<ul>
					<li>About</li>
					<li>Careers</li>
					<li>Culture</li>
					<li>Countries</li>
					<li>Blog</li>
					<li>Team</li>
				</ul>
			</div>
			<div class="col-md-4 col-xs-4 language">
				<select>
					<option>English U.K</option>
					<option>English U.S</option>
					<option>Hindi</option>
					<option>Indonesia</option>
				</select>
			</div>
		</div>
	</div>
	<div class="sectionMiddle">
		<div class="row">
			<div class="col-md-5 col-xs-12">
				<div class="boldHead">
					Businesses
				</div>
				<ul>
					<li>Intercity</li>
					<li>Intercity</li>
					<li>Self-Drive</li>
					<li>Business App</li>
					<li>Restaurant Widgets</li>
					<li>Guidelines</li>
					<li>Business Blog</li>
				</ul>
			</div>
			<div class="col-md-7 col-xs-12">
				<div class="boldHead">
					Cities
				</div>
				<div class="row">
					<div class="col-md-4 col-xs-4">
						<ul>
							<li>Delhi</li>
							<li>Mumbai</li>
							<li>Gurgaon</li>
							<li>Ghaziabad</li>
							<li>Noida</li>
							<li>Hyderabad</li>
							<li>Ranchi</li>
							<li>Shimla</li>
							<li>Chandigarh</li>
							<li>Kota</li>
						</ul>
					</div>
					<div class="col-md-4 col-xs-4">
						<ul>
							<li>Surat</li>
							<li>Tirupati</li>
							<li>Vadodara</li>
							<li>Varanasi</li>
							<li>Kolkata</li>
							<li>Dhanbad</li>
							<li>Bhopal</li>
							<li>Ajmer</li>
							<li>Patna</li>
							<li>Ambala</li>
						</ul>
					</div>
					<div class="col-md-4 col-xs-4">
						<ul>
							<li>Haridwar</li>
							<li>Bangalore</li>
							<li>Chennai</li>
							<li>Pune</li>
							<li>Goa</li>
							<li>Jaipur</li>
							<li>Ahmedabad</li>
							<li>Indore</li>
							<li>Mysore</li>
							<li>Madurai</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sectionBottom">
		<ul>
			<li>Privacy</li>
			<li>Contact</li>
			<li>Terms</li>
			<li>Business</li>
			<li>Feedback</li>
			<li>Security</li>
			<li>Sitemap</li>
			<li>Social</li>
			<li>Recent Posts/Tweets</li>
			<li>Faking News Channel</li>
		</ul>
	</div>

</body>
</html>